<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kyselov.iradio"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />


    <application
        android:name=".ApplicationLoader"
        android:allowBackup="false"
        android:hardwareAccelerated="@bool/useHardwareAcceleration"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:manageSpaceActivity=".ui.ExternalActionActivity"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppThemeNoWallpaper"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:launchMode="singleTask"
            android:theme="@style/SplashThemeV2">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ExternalActionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:theme="@style/SplashThemeV2"
            android:windowSoftInputMode="adjustPan">
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher">
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".service.BringAppForegroundService"
            android:enabled="true" />
        <service
            android:name=".service.NotificationsService"
            android:enabled="true" />
        <service
            android:name=".service.RadioPlayerService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.AppStartReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.kyselov.iradio.start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.RadioPlayerReceiver">
            <intent-filter>
                <action android:name="com.kyselov.iradio.android.radioplayer.close" />
                <action android:name="com.kyselov.iradio.android.radioplayer.pause" />
                <action android:name="com.kyselov.iradio.android.radioplayer.next" />
                <action android:name="com.kyselov.iradio.android.radioplayer.play" />
                <action android:name="com.kyselov.iradio.android.radioplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598dp" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />
    </application>

</manifest>